<section id="footer">
					<ul class="icons">
						 <li><a target="_blank" href="http://twitter.com/hollaboxapp" class="fa-twitter"><span class="label">Twitter</span></a></li>
					   <li><a target="_blank" href="http://facebook.com/hollabox" class="fa-facebook"><span class="label">Facebook</span></a></li>
						 <li><a target="_blank" href="https://www.instagram.com/hollabox" class="fa-instagram"><span class="label">Instagram</span></a></li>
						 <li class="pull-right"><a href="http://hollabox.com/privacypolicy">Privacy Policy</a></li>
						 <li class="pull-right" style="padding-right:8px"><a href="http://www.hollabox.com/terms">Terms of Use</a></li>
					</ul>
		<p class="copyright">&copy; Hollabox Ltd. 2016 </p>
</section>
