<!-- Header -->
<title>Hollabox</title>
		<link rel="shortcut icon" href="images/hollaboxfavicon.ico">

	<style type="text/css">

     #share-buttons img {
        width: 35px;
        padding: 5px;
        border: 0;
        box-shadow: 0;
        display: inline;
        }
  </style>

    <header id="header">
  						<h1><a href="http://www.hollabox.com">HOLLABOX</a></h1>
  						<nav class="links">
  							<ul>
  						  	<li><a href="http://www.hollabox.com">Log In</a></li>
  							</ul>
  						</nav>
  						<nav class="main">
  							<ul>

                <!--
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
              -->
		  <li class="menu">
		  	<a class="fa-bars" href="#menu">Menu</a>
			</li>
		</ul>
	</nav>
</header>

<!-- Menu -->
<section id="menu">
  <!-- Search -->
  <!--
  <section>
	  <form class="search" method="get" action="#">
	    <input type="text" name="query" placeholder="Search" />
		</form>
	</section>
  -->
	<!-- Links -->
            <section>
              <ul class="links">
                <li>
                  <a href="http://www.hollabox.com/company">
                    <h3>Company</h3>
                    <p>the story from the start</p>
                  </a>
                </li>
                <li>
                  <a href="http://www.hollabox.com/blog">
                    <h3>Blog</h3>
                    <p>Where we go to empty our minds</p>
                  </a>
                </li>
                <li>
                  <a href="http://www.hollabox.com">
                      <h3>Get the App</h3>
                      <p>available on app store and google play </p>
                  </a>
                </li>
              </ul>
            </section>
	<!-- Actions -->

  <section>
	  <ul class="actions vertical">
      <li><a href="http://www.hollabox.com" class="button big fit">Log In</a></li>
    </ul>
  </section>

</section>
